html {
  font-family: Helvetica;
}

h1 {
  text-align: center;
  font-size: 70px;
  font-weight: bold;
  color: white;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

ul {
  list-style-type: none;
}

.nav {
  color: white;
  font-size: 18px;
}


.header {
  background-image: url("../images/the-flatiron-building.png");
  text-align: center;
}

.process {
  text-align: center;
  display: block;
  margin: 0 auto;
}

.designed {
  background-image: url("../images/the-flatiron-building.png");
  text-align: center;
  display: block;
  margin: 0 auto;
}

.designed-text {
  font-size: 23px;
  font-weight: bold;
  color: white;
}

.contact {
  text-align: center;
  display: block;
  margin: 0 auto;
}

.footer {
  background-color: dimgray;
}

#copyright {
  font-size: 11px;
  color: white;
}
